
.ajouter__form__image{
    margin: 5%;
}

.ajouter__form__image__imageInput{
    position: relative;
    height: 8vh;
    width: 100%;
}

.ajouter__form__image__imageInput input{
    display: none;
}

.ajouter__form__image__imageInput label{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    border: 1px solid var(--s-color);
    border-radius: 10px;
    font-size: 1.3rem;
}

.ajouter__form__image__preview{
    height: 30vh;
    margin: 3% 0;
}

.ajouter__form__image__preview img{
    height: 100%;
    width: 100%;
}

@media only screen and (min-width: 768px){
    .ajouter__form__image__imageInput label{
        font-size: 2.3rem;
    }
}

@media only screen and (min-width: 1100px){

    .ajouter__form__image__preview{
        width: 70%;
        height: 40vh;
        margin: 3% auto;
    }

    .ajouter__form__image__imageInput label{
        font-size: 1rem;
    }
}