
.ajouter__form__description__head{
    text-align: center;
    margin: 3% 0;
}

.ajouter__form__description__textarea{
    position: relative;
    height: 30vh;
    width: 90%;
    margin: 3% auto;
    overflow: hidden;
}

.ajouter__form__description__textarea textarea{
    width: 100%;
    height: 100%;
    padding: 3%;
    resize: none;
    border: 1px solid var(--s-color);
    font-size: 1.5rem;
}

.ajouter__form__description__textarea label{
    position: absolute;
    top: 3%;
    left: 3%;
    width: 100%;
    font: 1.2rem;
    overflow: hidden;
    transition: all 1s;
}

.ajouter__form__description__textarea textarea:focus +  label{
    left: 100%;
}

textarea:focus{
    outline-style: none;
}

.descriptionOn{
    left: 100% !important;
}

@media only screen and (min-width: 768px){

    .ajouter__form__description__head{
        font-size: 3rem;
    }

    .ajouter__form__description__textarea textarea{
        font-size: 2.1rem;
    }

    .ajouter__form__description__textarea label{
        font-size: 1.7rem;
    }
}

@media only screen and (min-width: 1100px){

    .ajouter__form__description__head{
        font-size: 1.5rem;
    }

    .ajouter__form__description__textarea textarea{
        font-size: 1rem;
    }

    .ajouter__form__description__textarea label{
        font-size: .7rem;
    }
}