
footer{
    display: none;
}

@media only screen and (min-width: 1100px){
  
    footer{
        height: 15vh;
        margin-top: 5vh;
        background-color: var(--s-color);
        box-shadow: 0 0 8px 0 black;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        justify-items: space-evenly;
    }

    .footer__copyright{
        grid-column-end: span 12;
        text-align: center;
        color: white;
    }

    .footer__author{
        margin: 0 10%;
        grid-column-end: span 3;
        color: white;
    }

    .footer__list{
        display: flex;
        list-style: none;
        grid-column-end: span 6;
    }

    .footer__list__item{
        margin: 0 3%;
    }
      
    .footer__social{
        grid-column-end: span 3;
        display: flex;
        margin: 0 3%;
    }

    .footer__social__github, .footer__social__instagram{
        height: 6vh;
        width: 6vh;
        margin: 0 3%;
        float: right;
    }
    
    .footer__social__github img, .footer__social__instagram img{
        height: 100%;
        width: 100%;
    }

    .footer__social__github img:hover, .footer__social__instagram img:hover{
        cursor: pointer;
    }
}